.card {
    width: 700px;
    height: auto;
    margin: 280px 0 0 370px;
    display: flex;
    flex-direction: column;
    background: #ffff;
    border-radius: 14px 14px 0 0;
}

.img {
    width: 700px;
    object-fit: cover;
    height: 470px;
    border-radius: 14px 14px 0 0;
}

.card__price {
    font-weight: 500;
    font-size: 25px;
    padding-left: 14px;
    margin: 10px 0 10px;
}

.card__descrip {
    font-weight: 500;
    font-size: 25px;
    padding-left: 14px;
    margin: 10px 0 10px;
}

.card__btn {
    width: 175px;
    border-radius: 10px;
    border: none;
    padding: 6px 10px;
    margin: 0 0 5px 14px;
    cursor: pointer;
    background: #ffae33;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #12100c;
}
